<h3>Admin Login</h3>

<form action="/admin" method = 'POST'>
    <label for="username">Username:</label>
    <input type="text" name="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" required>
    
    <input type="submit" value="Login" class="vtn">
</form>

<h3>Register</h3>

<form action="/admin/register" method = 'POST'>
    <label for="username">Username:</label>
    <input type="text" name="username" required>

    <label for="password">Password:</label>
    <input type="password" name="password" required>
    
    <input type="submit" value="Register" class="vtn">
     </form>