<header class="header">
    <a href="/" class="header__logo">Blogs</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about" >About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>

    </nav>

    <div style="display:flex;">
        <button class="button type1 searchBtn"  style="margin-right:9px" aria-expanded="false">
            <span class="btn-txt">Search</span>
        </button>
        
        <a href="/admin"><button style="margin-right:9px" class="button type1"  aria-expanded="false">
            <span class="btn-txt">Login</span>
        </button></a>
        <a href="/admin/register">
            <button class="button type1" aria-expanded="false">
                <span class="btn-txt">Register</span>
            </button>
        </a>
        
    </div>
</header>