<header class="header">
    <a href="/" class="header__logo">NodeJs</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class=" <%= isActiveRoute('/', currentRoute) %>">Home</a>
            </li>
            <li>
                <a href="/about" class="<%= isActiveRoute('/',currentRoute) %>">About</a>
            </li>
            <li>
                <a href="/contact" class="<%= isActiveRoute('/', currentRoute) %>">Contact</a>
            </li>
        </ul>

    </nav>

    <div>
        <button class="button type1 searchBtn" aria-expanded="false">
            <span class="btn-txt">Search</span>
        </button>
        
    </div>
</header>